.stories {
  overflow-x: scroll;
  width: 600px;
  height: 100px;
  display: flex;
  margin-top: 50px;
  margin-left: 220px;
  padding-left: 30px;
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .stories {
    margin: 30px auto auto auto;
    width: 60%;
  }
}
@media only screen and (max-width: 1200px) {
  .profile {
    display: none;
  }
}

.main {
  display: flex;
}

.profile {
  margin-left: 45px;
  margin-top: 55px;
}

.flex {
  display: flex;
}

.suggestions {
  position: absolute;
}
